@import 'index.css';

@keyframes intro {
    from {background-position: 0%;}
    to {background-position: 100%;}
}
@keyframes intro-text {
    0% 
    {opacity: 0; display: hidden;}
    25% 
    {opacity: 1; display: inline;}
    100% 
    {opacity: 1; display: inline;}
    }
@keyframes slide-up {
    from {
        transform: translate(0,200%);
        opacity: 0;
    }
    to {
        transform: translate(0,0);
        opacity: 1;
    }
}
@keyframes move-into-corner {
    0% { }
    25% {
        width: 75vmin;
        height: 75min;
    }
    100% {
        right: 12px;
        top: 0px;
        width: 55px;
    }
}
@keyframes collapse-height {
  to { width: 100%; height: 0px; }
}
@keyframes open-header {
    0% { width: 0; opacity: 1; }
    50% { width: 200px; opacity: 1;}
    100% { width: 260px; opacity: 1; border-color: var(--text-col); }
  }
@keyframes scale-up {
    0% {  }
    80% { transform: scale(1.2, 1.2) }
    100% { transform: scale(1, 1) }
}
body {
    background: linear-gradient(-90deg, var(--primary-col),var(--primary-col2));
    background-size: 300% 300%;
    animation: intro calc(var(--intro-duration)/2) ease-in calc(var(--intro-duration)/2) forwards;
}
.header {
    position: fixed;
    top: 12px;
    right: 45px;
    background-color: var(--secondary-col);
    opacity: 0;
    border-color: transparent;
    width: 0;
    height: 40px;
    animation: open-header 0.7s ease-out 0.45s forwards;
    font-family: Def-Bold;
    font-size: 18px;
    border-radius: 10px;
    padding: 1px;
    padding-right: 13px;
    text-align: center;
    z-index: 1;
    border-style: solid;
    border-width: 2px;
  }
  .header div:first-child {
    font-family: Def-Bold;
    opacity: 0;
    animation: reveal 0.3s ease-out 1.5s forwards;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
  }
  .main-buttons {
    position: fixed;
    display: flex;
    flex-direction: column;
    animation: move-into-corner 0.4s ease-out 0s forwards;

    z-index: 5;
  }
  .main-icon {
    transform: scale(0, 0);
    transition: all 0.2s 0.15s;
    animation: scale-up 0.3s ease-out calc(var(--intro-duration) * 2.1 + 1.0s) forwards;
    width: 100%;
    padding-bottom: calc(100% - 5px);
    margin: 5px;
    display: flex;
    align-items: center;
  }
  .main-icon div {
    position: absolute;
    width: 100%;
    top: 0; 
    bottom: 0;
    cursor: pointer;
  }
  .portrait-i {
    overflow: hidden;
    border-radius: 50%;
  }
  .main-text {
    opacity: 0;
    font-family: Def-Bold;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
    animation: intro-text calc(var(--intro-duration)/2) linear 0s 2 alternate;
    font-size: 6vw;
  }
  /* kinda painful animation; TODO: figure something better */
  .portrait {
    opacity: 0;
    position: relative;
    margin: 0;
    padding: 0;
    width: 60vmin;
    height: 60vmin;

    animation: slide-up calc(var(--intro-duration)/3) ease-out 0.5s forwards;
  }
  .intro-content {
    pointer-events: none;
    align-content: space-between;
  }